= simple_form_for @ticket, html: { multipart: true } do |f|
  = f.input 	:name
  = f.input 	:description, as: :text
  = f.input 	:image, as: :file
  = f.input   	:code
  = f.input  	:price
  = f.input  	:stock_quantity
  = f.input   	:status
  = f.submit