!!!
%html
  %head
    %title Social Hub
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.container
      %header
        #logo
          %p Social Hub
        %div.row
          %div.col-md-6
            #buttons
              = link_to 'Home', root_path
              = link_to 'About', about_path
              = link_to 'Contact', contact_path
              - if user_signed_in?
                = link_to 'New Ticket', new_ticket_path
                = link_to 'My profile', current_user
                = link_to 'Edit profile', edit_user_registration_path
                = link_to 'Logout', destroy_user_session_path, method: :delete
              - else
                = link_to 'Sign Up', new_user_registration_path
                = link_to 'Sing In', new_user_session_path

          %div.col-md-6
            =simple_form_for :simple_search, html: { class: 'form-inline' }, url: search_path(:simple_search), :method => :get  do |f|
              =f.input :q, label: false, required: false, placeholder: 'Search'
              =f.submit "Search"
          = link_to 'Advanced Search', new_search_path

    %div.container
      %p.notice= notice
      %p.alert= alert

    %section.container
      = yield
